{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "arrow-parens": "off",
    "object-curly-spacing": "off",
    "comma-dangle": "off",
    "unicorn/no-abusive-eslint-disable": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/ban-ts-ignore": "off"
  }
}
